---
title: Bluedit
layout: default.liquid
---

<section id="page-landing">
    <!-- Bluedit Logo -->
    <h1><img class="logo" src="img/Bluedit.png" alt="Bluedit Logo"/></h1>
    
    <!-- Tagline -->
    <h2>Writing Redefined</h2>
    
    <!-- Subtitle -->
    <span>The free and open source writing tool for students</span>
    
    <div class="download">
        <a href="#">Linux ↓</a>
        <a href="#">Windows ↓</a>
    </div>
    
    <!-- Screenshot -->
    <img class="splash" src="img/screenshot.png" alt="Screenshot"/>
</section>
