@import 'base';
@import 'colours';

.brand-nav {
	background-color: white;
	
	ul {
		display: flex;
		justify-content: center;
		list-style-type: none;
	}
	
	a {
		display: block;
		padding: 15px;
		text-decoration: none;
		font-size: 14px;
		color: #777;
	}
}

.product-nav {
	background-color: $nav-bg;

	ul {
		display: flex;
		justify-content: center;
		list-style-type: none;
	}
	
	a {
		display: block;
		padding: 10px 25px;
		text-decoration: none;
		color: $nav-fg;
		font-weight: 600;
	}
}

#page-landing {
	text-align: center;
	
	.logo {
		width: 200px;
		margin-top: 60px;
	}
	
	h2 {
		margin: 20px 0;
		font-weight: 300;
		font-size: 60px;
	}
	
	span {
		font-size: 20px;
		font-weight: 300;
	}
	
	.download {
		display: flex;
		justify-content: center;
	
		a {
			// Colours
			background-color: $theme-accent;
			color: $theme-fg;
			
			// Box
			padding: 10px 15px;
			display: block;
			border-radius: 4px;
			margin: 20px 10px;

			// Text
			font-weight: bold;
			text-decoration: none;
			
			// Misc
			transition: 0.2s background ease-out;			
		}
		
		a:hover {
			background-color: $theme-accent-dark;
		}
	}

	.splash {
		width: 80%;
		margin-top: 40px;
		box-shadow: 0 0 4px rgba(0,0,0,0.7);
		border-radius: 10px;
	}
}
