<nav class="brand-nav">
    <ul>
        <li><a href="#">Little Blue</a></li>
        <li><a href="#">News</a></li>
        <li><a href="#">Software</a></li>
        <li><a href="#">Bluedit</a></li>
        <li><a href="#">MyCiteLib</a></li>
        <li><a href="#">About</a></li>
        <li><a href="https://www.gitlab.com/littleblue">Gitlab</a></li>
    </ul>
</nav>

<nav class="product-nav">
    <ul>
        <li><a href="#">Home</a></li>
        <li><a href="#">Features</a></li>
        <li><a href="#">Download</a></li>
        <li><a href="#">Contribute</a></li>
    </ul>
</nav>
