// Fonts
@import url('https://rsms.me/inter/inter.css');
html { font-family: 'Inter', sans-serif; }
@supports (font-variation-settings: normal) {
  html { font-family: 'Inter var', sans-serif; }
}

// Default
* {
	padding: 0;
	margin: 0;
}

body {
	background: url('img/paper.png');
}

main {
	max-width: 1280px;
	margin: auto;
}
