<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8"/>
        <title>{{ page.title }}</title>
        <link rel="stylesheet" type="text/css" href="style.css"/>
    </head>
    <body>
        <header>
            {% include "header.liquid" %}
        </header>
        <main>
            {{ page.content }}
        </main>
    </body>
</html>
